body {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-size: 2rem;
  margin:  2% 5%;
  color: #FEF2BF;
}

#start-btn {
  border: 5px solid black;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  height: 80px;
  margin: 0.5rem;
  width: 200px;
  transition: background-color 200ms ease-in,
              color 200ms ease-in;
}

#start-btn:hover {
  background-color: #444;
  color: gold;
}

.score-container {
  color: white;
  margin: 0 auto;
  text-align: left;
  width: 90%;
  max-width: 700px;
}

.container {
  display: block;
  width: 80%;
  margin: auto;
  max-width: 700px;
}

.btn {
  margin: 20px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 10px solid black;
  border-radius: 20%;
  cursor: pointer;
  transition: opacity 100ms ease-in;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}



@media only screen and (max-width: 800px) {

  #level-title {
    font-size: 1.5rem;
  }

  #start-btn {
    font-size: 1.2rem;
    height: 75px;
    width: 160px;
  }

  .container {
    width: 95%;
  }

  .btn {
    height: 125px;
    margin: 1rem;
    width: 125px;
  }
}

@media only screen and (max-width: 410px) {
  .btn {
    height: 95px;
    margin: 10px;
    width: 95px;
  }
}
